In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns  
from statsmodels.stats.outliers_influence import variance_inflation_factor
import matplotlib.pyplot as plt

# Scikit-Learn modules for machine learning
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, classification_report, confusion_matrix, roc_curve, auc
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('data/games.csv')

In [3]:
# Check the structure of the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB
None

In [4]:
# Dataset Shape and Data Types
print("Dataset Shape:", df.shape)
print("\nData Types:")
print(df.dtypes.value_counts())

# Summary of numerical columns
df.describe()

# Count unique values in categorical columns
categorical_columns = df.select_dtypes(include='object').columns
for col in categorical_columns:
    print(f"{col}: {df[col].nunique()} unique values")

Dataset Shape: (20058, 16)

Data Types:
object     9
int64      4
float64    2
bool       1
Name: count, dtype: int64
id: 19113 unique values
victory_status: 4 unique values
winner: 3 unique values
increment_code: 400 unique values
white_id: 9438 unique values
black_id: 9331 unique values
moves: 18920 unique values
opening_eco: 365 unique values
opening_name: 1477 unique values

In [5]:
# Check for missing values
print(df.isnull().sum())

id                0
rated             0
created_at        0
last_move_at      0
turns             0
victory_status    0
winner            0
increment_code    0
white_id          0
white_rating      0
black_id          0
black_rating      0
moves             0
opening_eco       0
opening_name      0
opening_ply       0
dtype: int64

In [6]:
# Preview the dataset
print(df.head())

         id  rated    created_at  last_move_at  turns victory_status winner  \
0  TZJHLljE  False  1.504210e+12  1.504210e+12     13      outoftime  white
1  l1NXvwaE   True  1.504130e+12  1.504130e+12     16         resign  black
2  mIICvQHh   True  1.504130e+12  1.504130e+12     61           mate  white
3  kWKvrqYL   True  1.504110e+12  1.504110e+12     61           mate  white
4  9tXo1AUZ   True  1.504030e+12  1.504030e+12     95           mate  white

  increment_code       white_id  white_rating      black_id  black_rating  \
0           15+2       bourgris          1500          a-00          1191
1           5+10           a-00          1322     skinnerua          1261
2           5+10         ischia          1496          a-00          1500
3           20+0  daniamurashov          1439  adivanov2009          1454
4           30+3      nik221107          1523  adivanov2009          1469

                                               moves opening_eco  \
0  d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...         D10
1  d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...         B00
2  e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...         C20
3  d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...         D02
4  e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...         C41

                             opening_name  opening_ply
0        Slav Defense: Exchange Variation            5
1  Nimzowitsch Defense: Kennedy Variation            4
2   King's Pawn Game: Leonardis Variation            3
3  Queen's Pawn Game: Zukertort Variation            3
4                        Philidor Defense            5